/* Estilos Globales */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #C7B8EA;
  color: #333;
}

header {
  background-color:#8e24aa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3rem;
  color: #fff;
  text-align: center;
  }


  h4 {
    color: #fff;
    font-size: 1rem;
    margin-top: 10px;
  }


nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #e0e0e0;
}


section {
  padding: 20px;
  margin: 20px auto;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.sobre-mi {
  max-width: 1400px;
}

.parrafo {
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  text-align: center;
   max-width: 1200px;
   margin: 0 auto;
}


.imagen-principal {
  width: 1400px;
  height: 500px;
  object-fit: cover;
  margin: 0 auto;
}

.proyectos-conteiner {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

  .proyectoss {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }

.proyecto-1 {
  flex: 1;
  margin:  5px;
  padding: 10px;
  text-align: center;
  border: 1px solid #e8e3f1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.proyecto-link {
  display: flex;
  justify-content:center;
  margin-top: auto;
  gap: 15px;

}


.proyecto-btn {
  background-color: #B39DDB;
  border-radius: 10%;
  color: #fff;
  padding: 10px 15px;
  width: auto;
  max-width: 200px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}


.proyecto-btn:hover {
  background-color: #8e24aa;
  color: #fff;
  cursor: pointer;
}


.skillswap {
  width: 100%;
  height: auto;
  object-fit: contain;

}


.agenda {
  width: 100%;
  height: auto;
  object-fit: contain;

}

.ecohouse {
width: 100%;
height: auto;
object-fit: contain;

}

.card-link {
  color: #fff;
}


h1, h2, h3 {
  color: #8e24aa;
}

.habilidades-conteiner {
  max-width: 1400px;
}

.contacto {
  max-width: 1400px;
  padding: 20px;
}

footer {
 background-color:#8e24aa;
 color: #fff;
 padding: 15px 0;
 text-align: center;
 margin-bottom: 0;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center
  }


/* Media Queries */
@media (max-width: 600px) {
  header {
    padding: 10px;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
    text-align: center;
  }

  section {
    padding: 15px;
  }

  img {
    width: 100%;
    height: auto;
  }

  .proyecto {
    padding: 10px;
  }

  h1, h2, h3 {
    font-size: 1.5em;
  }

  form input, form textarea {
    font-size: 14px;
  }

  form button {
    padding: 10px; /* Aumenta un poco el tamaño */
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  nav ul li {
    display: inline-block;
    margin: 0 10px;
  }

  section {
    padding: 20px;
  }

  h1, h2, h3 {
    font-size: 1.75em;
  }
}

@media (min-width: 901px) {
  nav ul li {
    display: inline-block;
    margin: 0 15px;
  }

  section {
    padding: 20px;
  }

  h1, h2, h3 {
    font-size: 2em;
  }
}
