/* Estilos Globales */
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #847577;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 20px auto;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  background-color: #fbfbf2;
}

/* Estilos del header */
header {
  padding: 130px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between; /* Asegúrate de que los elementos estén espaciados */
  align-items: center;
  background-color: #a6a2a2;
}

h4 {
  margin: 0;
  color: #e5e6e4;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  flex: 1;
  padding-left: 50px; /* Ajusta el espacio a la derecha */
}

#links-menu {
  list-style: none;
  padding: 10px;
  display: flex;
  justify-content: flex-start; /* Alinea los enlaces a la izquierda */
}

#links-menu li {
  margin-left: 20px;
}
#links-menu a {
  text-decoration: none;
  color: #e5e6e4;
  font-weight: bold;
  transition: color 0.3s ease;
  font-size: 1.2em;
}

#links-menu a:hover {
  color: #847577;
  text-decoration: underline;

}

/* Estilos de la tarjeta */
.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fbfbf2;
  border-radius: 10px;
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  position: absolute;
  left: 130px;
}
.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: matrix(1.05, 0, 0, 1.05, 0, 0);
}

.img-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
  filter: contrast(120%);
  object-fit: cover;
}


.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info {
  flex: 1;
}

.contact-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  }

button {
  background-color: #a6a2a2;
  color: #fbfbf2;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #847577;
}



/* Sección sobre mí */
.sobre-mi {
  margin: 20px 0;
  text-align: justify;
}

.parrafo p {
  line-height: 1.6;
  text-align: justify;
}

/* Estilos de proyectos */
.proyectos-conteiner {
  margin: 20px 0;

}

.proyectoss {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.proyecto-1 {
  background-color: #a6a2a2;
  color: #fbfbf2;
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: calc(45% - 10px);
  text-align: justify;
}

.proyecto-1:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.proyecto-1 img {
  width: 100%;
  border-radius: 5px;
}

.proyecto-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.proyecto-btn {
  background-color: #847577;
  color: #fbfbf2;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin-right: 5px;
}

.proyecto-btn:hover {
  background-color: #fbfbf2;
  color: #847577;
}


/* Estilos de habilidades */
.habilidades-conteiner {
  margin: 20px 0;

}

.habilidades-conteiner ul {
  list-style: none;
  padding: 0;
}

.habilidades-conteiner li {
  background-color: #a6a2a2;
  color: #fbfbf2;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

/* Estilos de contacto */
.contacto {
  margin: 40px 0;
}

.redes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}

.footer {
  text-align: center;
  background-color: #847577;
  color: #fbfbf2;
  padding: 15px;
  margin-top: 80px;
  border-radius: 8px;
}
